*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  MAIN STYLE */
body{
    background-color: #28293C;
    max-width: 1200px;
    padding: 15px ;
}

.container{
    display: flex;
    padding: 70px;
}
